doctype html
head
    title lightgallery.js with justifiedGallery
    link(href='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css', rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css", rel="stylesheet")
body
    #lightgallery
        a(href="img/smit-patel-344842-unsplash.jpg" data-sub-html='<h4>t00</h4><p>00</p>')
            img(alt="00" src="img/smit-patel-344842-unsplash.jpg")

        a(href="img/ricky-kharawala-10194-unsplash.jpg" data-sub-html='<h4>t01</h4><p>01</p>')
            img(alt="01" src="img/ricky-kharawala-10194-unsplash.jpg")

        a(href="img/laura-college-190105-unsplash.jpg" data-sub-html='<h4>t02</h4><p>02</p>')
            img(alt="02" src="img/laura-college-190105-unsplash.jpg")

        a(href="img/dominik-lange-41372-unsplash.jpg" data-sub-html='<h4>t03</h4><p>03</p>')
            img(alt="03" src="img/dominik-lange-41372-unsplash.jpg")

        a(href="img/jf-brou-358069-unsplash.jpg" data-sub-html='<h4>t04</h4><p>04</p>')
            img(alt="04" src="img/jf-brou-358069-unsplash.jpg")

        a(href="img/radoslaw-prekurat-148700-unsplash.jpg" data-sub-html='<h4>t05</h4><p>05</p>')
            img(alt="05" src="img/radoslaw-prekurat-148700-unsplash.jpg")

        a(href="img/ian-robinson-218271-unsplash.jpg" data-sub-html='<h4>t06</h4><p>06</p>')
            img(alt="06" src="img/ian-robinson-218271-unsplash.jpg")

        a(href="img/linnea-sandbakk-91258-unsplash.jpg" data-sub-html='<h4>t07</h4><p>07</p>')
            img(alt="07" src="img/linnea-sandbakk-91258-unsplash.jpg")

        a(href="img/boris-smokrovic-146294-unsplash.jpg" data-sub-html='<h4>t08</h4><p>08</p>')
            img(alt="08" src="img/boris-smokrovic-146294-unsplash.jpg")

        a(href="img/dean-nahum-4226-unsplash.jpg" data-sub-html='<h4>t09</h4><p>09</p>')
            img(alt="09" src="img/dean-nahum-4226-unsplash.jpg")

// jQuery is required for justifiedGallery and the lightgallery plugins
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-thumbnail.js/master/dist/lg-thumbnail.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery.js")
