doctype html
head
    title lightgallery.js with justifiedGallery
    link(href='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css', rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css", rel="stylesheet")
body
    #lightgallery

        a(href="img/ricky-kharawala-10194-unsplash.jpg" data-sub-html='<h4>t00</h4><p>00</p>')
            img(alt="00" src="img/thumbs/ricky-kharawala-10194-unsplash.jpg")

        a(href="img/laura-college-190105-unsplash.jpg")
            img(src="img/thumbs/laura-college-190105-unsplash.jpg")

        a(href="img/linnea-sandbakk-91258-unsplash.jpg")
            img(src="img/thumbs/linnea-sandbakk-91258-unsplash.jpg")

        a(href="img/boris-smokrovic-146294-unsplash.jpg")
            img(src="img/thumbs/boris-smokrovic-146294-unsplash.jpg")

        a(href="img/ian-robinson-218271-unsplash.jpg")
            img(src="img/thumbs/ian-robinson-218271-unsplash.jpg")

        a(href="img/dominik-lange-41372-unsplash.jpg")
            img(src="img/thumbs/dominik-lange-41372-unsplash.jpg")

        a(href="img/jf-brou-358069-unsplash.jpg")
            img(src="img/thumbs/jf-brou-358069-unsplash.jpg")

        a(href="img/radoslaw-prekurat-148700-unsplash.jpg")
            img(src="img/thumbs/radoslaw-prekurat-148700-unsplash.jpg")

        a(href="img/dean-nahum-4226-unsplash.jpg")
            img(src="img/thumbs/dean-nahum-4226-unsplash.jpg")

        a(href="img/smit-patel-344842-unsplash.jpg")
            img(src="img/thumbs/smit-patel-344842-unsplash.jpg")

// jQuery is required for justifiedGallery and the lightgallery plugins
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src='https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js')
script(src='https://cdn.rawgit.com/sachinchoolur/lg-thumbnail.js/master/dist/lg-thumbnail.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js")
script(src="js/init-gallery.js")
